.simulation {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* align-items: flex-start; */
  justify-content: space-between;
  gap: 16px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  /* position: absolute; */
  /* left: 20%; */
  top: 250px;
  /* margin-right: 150px; */
}

.simulation-view {
  flex-grow: 1;
  height: calc(100vh - 200px); /* Ajustar según sea necesario */
  background-color: #f0f0f0;
  position: relative;
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}

.workspace {
  position: relative;
  transition: transform 0.3s ease;
}

.person,
.chair-top,
.chair-bottom {
  position: absolute;
  bottom: 0;
}

.person img,
.chair-top img,
.chair-bottom img,
.desk img,
.screen img {
  max-height: 80vh; /* Máximo alto del 80% de la altura de la ventana */
  display: block;
}

.chair-top {
  z-index: 2; /* Asegurar que la parte superior de la silla esté sobre la inferior */
}

.desk {
  position: relative; /* Permite posicionar screen dentro de desk */
  z-index: 3;

}

.screen {
  position: absolute;
  top: 23%;
  left: 57%;
  /* border: solid; */
  transform: translateX(-50%);
  transform-origin: center; /* Rotación desde el centro inferior */
  z-index: 1; /* Asegura que screen esté encima de desk */  

}

.person {
  z-index: 3; /* Asegurar que la persona esté sobre las sillas */
}

.person img{
  width: 100%; /* Ajustar el tamaño del escritorio */
  max-width: 100%; /* Asegurar que el ancho máximo sea proporcional */
}

.desk img{
  width: 100%; /* Ajustar el tamaño del escritorio */
  max-width: 100%; /* Asegurar que el ancho máximo sea proporcional */
}

.screen img {
  width: 90%; /* Ajustar el tamaño de la pantalla */
  max-width: 50%; /* Asegurar que el ancho máximo sea proporcional */
  transform: rotate(-15deg);
}