pre,
code {
  
  overflow: auto;
}

#pageContainer {
  display: flex;
  width:max-content;
}

#blocklyDiv {
  flex-basis: 100%;
  width: fit-content;
  min-width: 500px;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  overflow: auto;
  margin: 1rem;
}

#generatedCode {
  height: 25%;
  background-color: #fff;
}

#output {
  background-color: black;
  font-palette: monospace;
  color: white;
  height: 25%;
}
