pre,
code {
  
  overflow: auto;
}

#blocklyDiv {
  flex-basis: 100%;
  min-width: 500px;
  height: 500px;
}

#generatedCode {
  height: 25%;
  background-color: #fff;
}
.Titulo {
  margin-bottom: 20px
}