body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.ppt-title {
    display: flex;
    background-color: #C43E1C;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    justify-content: center;
    align-items: top;
    width: 100%;
    box-sizing: border-box;
}

.ppt-toolbar {
    flex-direction: row;
    justify-content: left;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.ppt-toolbar-option {
    font-size: 14px;
    padding: 5px 8px 0 16px;
    border-radius: 0px;
    border: none;
    background-color: #f4f4f4;
    box-shadow: none;
    cursor: pointer;
    margin-right: 10px;
}

.ppt-slide {
    border: 2px gray solid;
    background-color: #e0e0e0;
    width: 150px;
    min-height: 100px;
    box-shadow: #000;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.ppt-slides-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f4;
}

.ppt-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: 1px gray solid;
    width: 15%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
    height: calc(100vh - 170px);
}

.ppt-editor {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px gray solid;
    width: 750px;
    height: 500px;
    padding: 20px;
    margin: auto;
}

.ppt-secondary-menu {
    background-color: #fff;
    border-radius: 9px;
    margin: 5px 5px 0 5px;
    padding: 15px;
    display: flex;
    align-items: center;
}