body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.ppt-title {
    display: flex;
    background-color: #C43E1C;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    justify-content: center;
    align-items: top;
    width: 100%;
    box-sizing: border-box;
}

.ppt-toolbar-main {
    border-radius: 12px;
    border-color: gray;
    border-bottom: 2;
}

.ppt-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.ppt-toolbar-option {
    font-size: 15px;
    padding: 5px 12px 5px 20px;
    border-radius: 0px;
    border-color: #fff;
    border: none;
    background-color: #fff;
    box-shadow: none;
    cursor: pointer;
    margin-right: 10px;
}

.ppt-slide {
    border: 2px gray solid;
    background-color: #e0e0e0;
    width: 150px;
    min-height: 100px;
    box-shadow: #000;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.ppt-slides-container {
    display: flex;
    flex-direction: row;
    border-color: gray;
}

.ppt-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: gray solid;
    width: 15%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
    height: calc(100vh - 85px);
}

.ppt-editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px gray solid;
    width: 150px;
    height: 100px;
    padding: 20px;
}